.form {
  width: 80%;
  height: 50px;
  display: flex;
  border-radius: 1rem;
  justify-content: center;
  overflow: hidden;
  box-shadow: var(--box-shadow);
}

.form:focus {
  transform: scale(1.09);
}

.info_form_input {
  background-color: #e0e0e090;
  border: none;
  padding: 1rem;
  width: 70%;
  outline: none;
}

.info_form_input::placeholder {
  color: rgba(
    0,
    0,
    0,
    0.575
  ); /* Cambia el color del marcador de posición a rojo */
}

.info_form_button {
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  background: var(--backgroundGradient);
  border: none;
  width: 30%;
  text-shadow: var(--text-shadowBlue);
  transition: transform 0.3s ease;
}

.info_form_button:hover {
  transform: scale(1.09);
}
