.dark_section {
  background-color: var(--background-colorBoxesDark);
}

.dark_section:hover {
  background-color: var(--background-colorBoxesDarkHover);
}
.dark_text {
  color: white;
  text-shadow: var(--text-shadowDark);
}

.dark_gradient {
  background-color: var(--backgroundGradientDark);
}
