@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

:root {
  --text-shadow: 1px -1px 10px rgb(255, 255, 255);
  --text-shadowBlue: 0px 2px 2px #4580ba;
  --box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.706);
  --colorText: black;
  --background-colorBoxes: rgba(255, 255, 255, 0.199);
  --backgroundGradient: linear-gradient(
    90deg,
    rgba(45, 44, 57, 0.409) 1%,
    rgba(28, 35, 37, 0.212) 48%,
    rgb(16, 48, 55) 100%
  );

  --colorTextDark: white;
  --text-shadowDark: 1px -1px 10px rgb(0, 0, 0);
  --background-colorBoxesDark: rgba(61, 44, 78, 0.479);
  --backgroundGradientDark: linear-gradient(
    90deg,
    rgb(25, 4, 253) 1%,
    rgb(0, 0, 0) 48%,
    rgb(9, 9, 9) 100%
  );
  --background-colorBoxesDarkHover: rgba(160, 121, 208, 0.479);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Lato", sans-serif;
  transition: all 0.3s ease;
}

main {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.background {
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clear_sky_d {
  background-image: url(/images/clearsky_d.jpg);
}

.few_clouds_d {
  background-image: url(/images/fewclouds_d.jpg);
}

.scattered_clouds_d {
  background-image: url(/images/scattered_clouds_d.jpg);
}

.broken_clouds_d {
  background-image: url(/images/brokencloud_d.jpg);
}
.shower_rain_d {
  background-image: url(/images/showerrain_d.jpg);
}
.rain_d {
  background-image: url(/images/rain_d.jpg);
}
.thunderstorm_d {
  background-image: url(/images/thunderstorm_d.jpg);
}
.snow_d {
  background-image: url(/images/snow_d.jpg);
}
.mist_d {
  background-image: url(/images/mist_d.jpg);
}

.clear_sky_n {
  background-image: url(/images/clearsky_n.jpg);
}

.few_clouds_n {
  background-image: url(/images/fewclouds_n.jpg);
}

.scattered_clouds_n {
  background-image: url(/images/scattered_clouds_n.jpg);
}

.broken_clouds_n {
  background-image: url(/images/brokencloud_n.jpg);
}
.shower_rain_n {
  background-image: url(/images/showerrain_n.jpg);
}
.rain_n {
  background-image: url(/images/showerrain_n.jpg);
}
.thunderstorm_n {
  background-image: url(/images/thunderstorm_n.jpg);
}
.snow_n {
  background-image: url(/images/snow_n.jpg);
}
.mist_n {
  background-image: url(/images/mist_n.jpg);
}

.button_dark_mode {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.button_dark_mode:hover {
  transform: translateY(-5px) scale(1.09);
}

.dark_mode_icon {
  width: 30px;
}
